@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(195 0% 98%);
  --background-darker: hsl(195 0% 95%);
  --background-hover: hsl(195 0% 95%);

  --foreground: hsl(195 0% 10%);

  --border: hsl(195 0% 85%);

  --primary: hsl(48 100% 50%);
  --primary-foreground: hsl(0 0% 0%);
  --primary-hover: hsl(48 100% 63%);

  --destructive: hsl(352 100% 41%);
}

.dark {
  --background: hsl(0.145 0 0);
  --background-darker: hsl(195 82% 0%);
  --background-lighter: hsl(195 82% 15%);
  --background-hover: hsl(195 82% 10%);

  --foreground: hsl(195 0% 98%);

  --border: hsl(195 80% 15%);

  --destructive: hsla(358, 65%, 70%);
}

@theme inline {
  --color-background: var(--background);
  --color-background-lighter: var(--background-lighter);
  --color-background-darker: var(--background-darker);
  --color-background-hover: var(--background-hover);

  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);

  --color-border: var(--border);

  --color-destructive: var(--destructive);
}
