@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 0% 98%;
    --background-lighter: 195 0% 95%;
    --background-darker: 195 0% 90%;
    --background-hover: 195 0% 95%;

    --foreground: 195 0% 10%;

    --border: 195 0% 85%;

    --primary: 195 82% 44%;
    --primary-foreground: 0 0% 98%;
    --primary-hover: 195 82% 54%;
  }

  .dark {
    --background: 195 82% 4%;
    --background-darker: 195 82% 3%;
    --background-lighter: 195 82% 10%;
    --background-hover: 195 82% 10%;

    --foreground: 195 0% 98%;

    --border: 195 82% 15%;
  }
}
