@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 215 28% 17%;

    --content: 0 0% 100%;
    --content-foreground: 215 14% 34%;

    --primary: 201 96% 32%;
    --primary-hover: 200 98% 39%;
    --primary-foreground: 0 0% 98%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 98%;

    --content: 221 39% 11%;
    --content-foreground: 0 0% 100%;
  }
}
